@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #e0e0e0;
    font-family: Montserrat;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: #1f1f1f;
    font-size: 1.3rem;
}

.button {
    font-size: 1.2rem;
    border: none;
    padding: 7px;
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #1f1f1f;
    transition: 0.1s ease-in;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.black {
    background-color:#2e2d2d;
    color: #e0e0e0;
}

.black:hover {
    background-color:#1f1f1f;
}

.red {
    background-color:#af3e3e;
    color: #e0e0e0;
}

.red:hover {
    background-color:#993333;
}

.green {
    color: #e0e0e0;
    background-color:#2cd443;
}

.green:hover {
    background-color:#24b637;
}

@media (max-width: 768px) {
    .button {
        font-size: 0.87em;
    }
}

