.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    font-size: 1.3rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-item input,textarea:focus {
    outline: none;
}

.form-item input, textarea {
    font-family: Montserrat;
    font-size: 1.2rem;
}

.form-item label {
    margin-bottom: 10px;
}

.form-item input {
    height: 40px;
}

.form-item input, textarea {
    border-radius: 5px;
    border: none;
}

.form-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between; /* Distributes space between the form fields */
}

.form-row .form-item {
    flex: 1; /* Makes form items equally wide */
    margin-right: 10px; /* Adds spacing between the form items */
}

.validation-text {
    font-size: 0.9rem;
    color: crimson;
}

@media (max-width: 768px) {
    .form-row {
        display: block;
    }

    .product-form {
        font-size: 1rem;
    }

    .form-item input, textarea {
        font-size: 0.8rem;
    }

    .form-item {
        font-size: 1rem;
    }

    .validation-text {
        font-size: 0.65rem;
    }
}